<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resources/css/edit.css" th:href="@{/resources/css/edit.css}" />
    <title th:text="#{edit.user.title}">User edit</title>
</head>
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="userObject" type="club.orchid.web.forms.UserObject"*/-->
    <form class="entity" action="edit.html" method="post" th:action="@{/club/edit.html}" th:object="${userObject}">
        <input type="submit" th:value="#{edit.submit}" value="submit" />
        <div class="editmarkup">
            <input type="hidden" th:value="${userObject.userId}" name="userId" />
            <label><th:block th:text="#{user.email}" /><input type="text" name="email" th:value="${userObject.email}" /></label>
            <label><th:block th:text="#{user.first.name}" /><input type="text" name="firstName" th:value="${userObject.firstName}" /></label>
            <label><th:block th:text="#{user.last.name}" /><input type="text" name="lastName" th:value="${userObject.lastName}" /></label>
            <label><th:block th:text="#{user.password}" /><input type="password" name="password" value="" th:title="#{user.password.title}"/></label>
            <label><th:block th:text="#{user.repeat.password}" /><input type="password" name="passwordRepeated" value="" /></label>
            <div class="settings">
                <span class="form-header"><th:block th:text="#{user.settings}" />:</span>
                <label><th:block th:text="#{user.accountNonExpired}"/>
                    <input type="checkbox" name="accountNonExpired" th:checked="${userObject.accountNonExpired}" /></label>
                <label><th:block th:text="#{user.accountNonLocked}"/>
                    <input type="checkbox" name="accountNonLocked" th:checked="${userObject.accountNonLocked}" /></label>
                <label><th:block th:text="#{user.credentialsNonExpired}"/>
                    <input type="checkbox" name="credentialsNonExpired" th:checked="${userObject.credentialsNonExpired}" /></label>
                <label><th:block th:text="#{user.enabled}"/>
                    <input type="checkbox" name="enabled" th:checked="${userObject.enabled}" /></label>
            </div>

            <div class="settings">
                <span class="form-header"><th:block th:text="#{user.roles}" />:</span>
                    <!--/*@thymesVar id="role" type="java.util.Map.Entry"*/-->
                <label data-th-each="role : ${userObject.allRoles}">
                           <th:block th:text="${role.key.roleName}" /><input type="checkbox" name="role" th:name="'allRoles[' + ${role.key.roleName} + ']'"
                                                                             value="on" th:checked="${role.value}"/></label>
            </div>
        </div>
    </form>
</div>
</body>
</html>