<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <form method="post" th:action="@{/images/upload.html}" action="upload.html" enctype="multipart/form-data">
        <div><label><th:block th:text="image.name">Image Name</th:block>: <input type="text" name="name"/></label></div>
        <div><label><th:block th:text="image.prettyUrl">Pretty url</th:block>: <input type="text" name="prettyUrl"/></label></div>
        <div><label><th:block th:text="image.file">File</th:block>: <input type="file" name="upload"/></label></div>
        <div><input type="submit" value="Upload"/></div>
    </form>
</div>
</body>
</html>