<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head></head>
    <body>
        <div class="topnavbar" th:fragment="header">
            <div class="logo">
                <a id="logo" href="/" th:href="@{/}"><img
                        src="../../../resources/images/orchid-temp.jpeg" th:src="@{/resources/images/orchid-temp.jpeg}" title="orchid" /></a>
                <div th:include="fragments/login :: login" sec:authorize="isAnonymous()"></div>
                <div th:include="fragments/logout :: logout" sec:authorize="isAuthenticated()"></div>
            </div>
        </div>
    </body>
</html>