<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:fragment="logout">
    <form th:action="@{/logout}" method="post" class="logout">
        <h3>Hello <th:block sec:authentication="principal.fullName">%username%</th:block>!!!</h3>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <th:block th:if="${page != null}">
                <a class="button" href="../pages/edit.html" th:href="@{/page/{url}/edit.html(url=${page.prettyUrl})}" th:text="#{edit.page}">edit page</a>
            </th:block>
            <a class="button" href="../pages/edit.html" th:href="@{/page/newpage/create.html(pageId=${page == null ? 0 : page.id})}" th:text="#{edit.page.create}">edit page</a>
        </span>
        <input type="submit" value="Sign Out" th:value="#{user.signout}"/>
    </form>
</div>
</body>
</html>