<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="pages" class="side-bar" id="sidebar">
    <ul><li
            th:each="chapter : ${pages}"
            th:class="${chapter != null and page != null and (chapter.id == page.id)}? 'current'"><a
                th:text="${chapter.name}"
                th:href="@{/page/{url}.html(url=${chapter.prettyUrl})}"
                href="page.html">page name</a></li></ul>
</div>
</body>
</html>