
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title ?: 'Orchid club'}">Task List</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resources/css/main.css" th:href="@{/resources/css/main.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div th:replace="fragments/pages :: pages" class="side-bar">SIDE BAR</div>
    <div class="page-container"><div layout:fragment="content">MAIN CONTENT</div></div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>