
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title th:text="${page.name}" th:assert="${page != null}">Task List</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container page-container">
    <div th:replace="fragments/pages :: pages" class="side-bar">SIDE BAR</div>
    <div class="page-container">
        <div layout:fragment="content">CONTENT</div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>